
/* Removed Tailwind directives because Tailwind CSS is not set up to process this file */


#root {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}
main {
  background-color: var(--color-neutral-900);
  color: var(--color-neutral-50);
}